@import "./fonts.scss";
@import "./player.scss";

html {
  overflow-y: hidden !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
pre {
  font-family: inherit;
}
::selection {
  background: var(--v-secondary-base);
}
:focus {
  outline: none;
}
.v-tab,
.v-btn {
  text-transform: none !important;
  letter-spacing: normal !important;
}
.user-select {
  user-select: all;
}
.v-application {
  user-select: none;
}
.v-progress-linear {
  pointer-events: none;
}
.v-main {
  max-height: 100vh;
  &.bottom-bar {
    padding: 48px 0px 56px !important;
  }
}
.v-main__wrap {
  overflow-y: auto;
}
.v-system-bar {
  border-bottom: none !important;
}
.v-system-bar--fixed {
  z-index: 1000 !important;
}
.v-app-bar--fixed {
  .v-badge__badge {
    pointer-events: none;
  }
  .v-toolbar__content {
    padding: 0;
  }
  .v-badge {
    &.v-badge--icon .v-badge__badge {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.colored {
      .v-badge__badge {
        background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) !important;
      }
    }
  }
}
.virtual-scroller {
  white-space: nowrap;
  overflow-x: hidden;
}
.app-bar-container {
  display: flex;
  width: 100%;
}
.scrollable {
  width: 100%;
  overflow: hidden;
  position: relative;
  &.vertical {
    height: 100%;
    .scrollable-child {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  &-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-x: auto;
    overflow-y: hidden;
  }
}
.v-pagination {
  &__item--active {
    pointer-events: none;
  }
  button {
    box-shadow: none !important;
  }
}
.theme--dark.v-pagination .v-pagination__navigation,
.theme--dark.v-pagination .v-pagination__item {
  background: none;
}
.dialog-position-start {
  align-self: flex-start;
}
// .v-dialog {
// &--fullscreen {
//   padding-top: 28px;
// }
// }
.v-avatar.v-list-item__avatar {
  align-items: start;
  img {
    height: auto;
  }
}
.v-avatar.v-list-item__avatar img {
  border-radius: 0;
}
.rating-inline {
  display: flex;
  flex-direction: row;
  &.small {
    .v-icon {
      padding: 0;
    }
  }
}
.remove-details-margin .v-text-field__details {
  margin-bottom: 0 !important;
}
.__rail-is-vertical {
  z-index: 5 !important;
}
.scroll-to-top {
  bottom: 40px;
  right: 30px;
  z-index: 10 !important;
}
.footer-app {
  z-index: 1000 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.hidden-close {
  .v-chip__close {
    width: 0.1px;
    overflow: hidden;
    opacity: 0;
    transition: 0.1s opacity ease, 0.3s width ease;
  }
  .v-chip--active {
    .v-chip__close {
      width: 20px;
      opacity: 1;
      transition: 0.2s opacity ease, 0.15s width ease-in;
    }
  }
}
.custom-list {
  .v-list-item {
    min-height: 0 !important;
    padding: 0;
    font-size: 0.95em;
    b {
      font-weight: normal;
      text-decoration: underline;
    }
    &:nth-of-type(even) {
      background-color: rgba(100, 100, 100, 0.03);
    }
  }
  .list-item {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    width: 100%;
    height: 100%;
  }
  span {
    white-space: nowrap;
  }
  .synonyms {
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 10px;
    max-width: 350px;
  }
  .small-flag {
    transform: scale(0.5) !important;
    margin: -10px;
  }
}
.hover-image {
  pointer-events: none;
  position: fixed !important;
  z-index: 999 !important;
  border-radius: 10px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  background-color: rgba(150, 150, 150, 0.9);
  width: 160px;
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: appearing 0.2s forwards;
  transition: all 0.3s ease;
}
.group-buttons {
  .v-btn {
    padding: 0 !important;
    min-width: 40px !important;
    &--active {
      pointer-events: none;
    }
  }
}
.group-buttons-sort {
  .v-btn__content .v-icon--right {
    position: absolute;
    right: -8px;
    top: -8px;
  }
}
.v-item-group.v-bottom-navigation {
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.3) !important;
}

// TABS
.v-app-bar {
  .v-image__image {
    filter: none;
  }
  .v-tabs {
    &.borders {
      .v-tab {
        border: 1px solid !important;
        border-radius: 4px;
        margin: 0 1px;
        opacity: 0.75;
        &:hover {
          opacity: 1;
        }
      }
      .v-tab--active {
        border-color: var(--v-primary-base) !important;
        opacity: 1;
      }
      .v-tabs-slider {
        display: none;
      }
      .close-btn {
        color: var(--v-primary-base);
      }
    }
    .v-tab {
      -webkit-app-region: no-drag;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0;
      text-transform: none;
      line-height: 26px;
      padding-left: 5px;
      padding-right: 30px;
      min-width: 160px;
      &:not(:last-child) {
        border-right: 1px dashed rgba(155, 155, 155, 0.5);
      }
      .tab-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        transition: 0.3s all ease;
        .v-icon {
          margin-right: 5px;
        }
      }
      .close-btn {
        position: absolute;
        right: 5px;
        height: 18px !important;
        width: 18px !important;
        align-self: center;
        transition: 0.3s all ease;
        i,
        .v-btn__content {
          height: 18px !important;
          width: 18px !important;
        }
        &:hover {
          background-color: #e43434;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}
// END TABS
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .v-pagination {
    width: auto;
  }
  .spacer {
    max-width: 44px;
  }
  .jump-to-page {
    max-width: 44px;
    min-width: 44px;
    display: flex;
    align-items: flex-end;
    .v-input__prepend-outer {
      margin: 0;
    }
    .v-input__slot {
      padding: 0 !important;
    }
    .v-input__append-inner {
      display: none;
    }
    .v-select__selections {
      justify-content: center;
      input {
        display: none !important;
      }
    }
    .v-text-field__details {
      display: none;
    }
  }
}
.jump-to-page-menu {
  &::-webkit-scrollbar {
    width: 10px;
    &-track {
      border: none;
    }
    &-thumb {
      border: none;
    }
  }
  .v-list {
    padding: 0;
  }
  .v-list-item {
    min-height: 30px;
    padding: 0 !important;
    text-align: center;
  }
}
.items-per-page-dropdown {
  max-width: 80px !important;
  min-width: 80px !important;
  margin-top: 0 !important;
  .v-input__append-inner {
    padding: 0 !important;
    width: 24px !important;
  }
  .v-select__selection {
    margin-left: 10px !important;
  }
  .v-select__selections input {
    margin-left: 0 !important;
    width: 0 !important;
    min-width: 0 !important;
  }
  .v-icon {
    margin-top: 0 !important;
  }
  .v-input__slot {
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
  .v-text-field__details {
    position: absolute;
    top: -13px;
    width: 100%;
    padding: 0 !important;
  }
  .v-messages__message {
    text-align: center;
    font-size: 11px;
  }
}
.select-small-chips {
  .v-chip {
    margin: 0 2px !important;
    height: 20px !important;
    padding: 0 6px;
  }
  .v-list-item {
    min-height: 32px;
  }
  input {
    font-size: 14px !important;
  }
  &.v-text-field.v-input--dense:not(.v-text-field--enclosed):not(.v-text-field--full-width)
    .v-input__append-inner
    .v-input__icon
    > .v-icon {
    margin-top: 0;
  }
}
.select-dense-checkbox {
  .v-list-item__action {
    margin-right: 16px !important;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.quality-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.range-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: inherit !important;
  font-size: 14px;
  .unit {
    margin-left: 3px;
    font-size: 12px;
  }
}
.range-wrapper {
  padding: 5px 10px;
  // border: 1px solid rgba(80, 80, 80, 0.5);
  margin-bottom: 15px;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    border-radius: 4px;
    opacity: 0.45;
    pointer-events: none;
    transition: 0.2s all ease;
  }
  &:hover:before {
    opacity: 1 !important;
  }
}
.theme--dark {
  .range-wrapper {
    &:before {
      opacity: 0.25;
    }
  }
}
.theme--dark.v-color-picker .v-color-picker__input input {
  color: #fff;
}
.group-radios-small {
  .v-input--radio-group__input {
    legend.v-label {
      position: absolute !important;
      top: -20px !important;
    }
    .v-label {
      font-size: 12px;
      margin-right: 8px;
    }
    .v-input--selection-controls {
      margin-top: 0 !important;
      padding-top: 0 !important;
      &__input {
        margin-right: 0;
      }
    }
    .v-radio {
      margin-right: 0 !important;
    }
  }
}
.list-zebra .v-list-item:nth-of-type(even) {
  background-color: rgba(100, 100, 100, 0.04);
}
.context-menu {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  .wrapper {
    max-height: calc(100vh - 100px);
  }
  .v-list-item {
    min-height: 30px !important;
    padding: 0 12px;
    .v-list-item__title {
      font-weight: normal !important;
      display: flex;
      align-items: center;
    }
  }
  .shortcut {
    display: flex;
    justify-content: space-between;
    width: 100%;
    span:first-of-type {
      margin-right: 50px;
    }
  }
}
.bottom-menu-mobile {
  padding: 0 15px 15px;
  .menu {
    overflow-y: auto;
  }
}
// console status bar
.console {
  user-select: text;
  font-family: "RobotoMono", monospace;
  .string {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    word-break: break-all;
    &:hover {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--v-primary-base);
      }
    }
  }
  .type {
    padding: 1px 4px;
    margin-right: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
  }
  .time {
    white-space: nowrap;
    align-self: flex-start;
    margin-left: 10px;
  }
}
.console-log {
  margin-bottom: 20px !important;
  .v-list-item {
    min-height: 25px;
    &:after {
      display: none;
    }
  }
}
.last-log {
  font-family: "RobotoMono", monospace;
  display: flex;
  font-size: 12px;
  cursor: pointer;
  flex-grow: 3;
  position: relative;
  padding: 0 16px;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #7e7e7e;
    opacity: 0;
    transition: 0.2s;
  }
  &:hover {
    &::before {
      opacity: 0.1;
    }
  }
  .logs {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    width: calc(100% - 56px);
    padding-top: 1px;
    animation: lastlog 0.5s ease forwards;
  }
  .log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 20px;
    height: 20px;
  }
  .text {
    margin-right: 10px;
  }
  .text,
  .time {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-wrapper {
    display: flex;
    align-items: center;
    max-width: calc(100% - 150px);
  }
  .type {
    padding: 1px 4px;
    margin-right: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
  }
}
@keyframes lastlog {
  from {
    top: 0;
  }
  to {
    top: -22px;
  }
}
.editable-text-field {
  display: flex;
  align-items: center;
}
// end console status bar
.left-close-panel,
.right-close-panel {
  position: absolute;
  top: 0;
  width: 50vw !important;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 1.5vw;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      font-weight: bold;
    }
  }
}
.left-close-panel {
  left: 0;
  align-items: flex-start;
  background: linear-gradient(90deg, rgba(143, 8, 8, 0.8), transparent);
}
.right-close-panel {
  right: 0;
  align-items: flex-end;
  background: linear-gradient(270deg, rgba(19, 87, 19, 0.8), transparent);
}
.loading-animation {
  animation: rotate 0.5s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cropper {
  &-block {
    position: relative;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
  &-size {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 10px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 3px;
    pointer-events: none;
  }
}
.vue-square-handler {
  border-radius: 100%;
  border: 1px solid #5c5c5c;
}
.quick-filters {
  .v-slide-group__content {
    padding: 0 !important;
  }
}
.filter-row {
  display: flex;
  align-items: center;
  justify-content: center;
  .by {
    width: 25%;
  }
  .cond {
    width: 25%;
  }
  .val {
    width: 50%;
  }
  .v-autocomplete.v-select.v-input--is-focused input {
    min-width: 10px;
  }
  .v-input__icon--append {
    display: none;
  }
}
.custom-chips-size {
  .v-chip {
    margin: 2px 3px;
    padding: 3px 8px;
    height: auto !important;
  }
}
.color-scroll {
  .__bar-is-vertical {
    background-color: var(--v-accent-base) !important;
  }
}
.transparent-tabs {
  &.v-tabs-items,
  .v-tabs-bar,
  .v-sheet,
  .v-card {
    background-color: transparent !important;
  }
}
@import "./item.scss";
@import "./screen.scss";
