.player {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  &.fullscreen {
    .video-wrapper {
      max-height: 100%;
    }
    .marks-wrapper,
    .playlist-wrapper {
      height: calc(100vh - 100px);
    }
  }
  .player-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &.marks {
      width: calc(100% - 18vw);
    }
    &.playlist {
      width: calc(100% - 18vw);
    }
    &.marks.playlist {
      width: calc(100% - 36vw);
    }
  }
  .remove-active {
    .v-btn {
      opacity: 0.8 !important;
    }
    .v-btn--active:before {
      opacity: 0 !important;
    }
    &.compact {
      .v-btn {
        padding: 0;
        min-width: 28px;
      }
    }
  }
  .video-wrapper {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    // max-height: calc(100vh - 34px - 80px);
    display: flex;
    // align-items: center;
    justify-content: center;
    background-color: #000;
    &.system-title-bar {
      max-height: 100%;
    }
  }
  .reg-block {
    position: absolute;
    top: 40%;
    right: 20%;
    left: 20%;
    z-index: 3;
    background-color: hsla(0, 0%, 30%, 0.7);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }
  .reg-playlist {
    background-color: #414141;
    color: #fff;
    padding: 4px;
    position: absolute;
    left: 5%;
    right: 5%;
    text-align: center;
    font-size: 1vw;
    line-height: 1;
    text-transform: uppercase;
  }
  video {
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
  }
}
.video-error {
  position: absolute;
  color: rgb(255, 50, 50);
  margin: auto;
  left: calc(50% - 150px);
  top: 30%;
  width: 300px;
  text-align: center;
}
.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.8), transparent);
  .timeline {
    position: relative;
    &:hover {
      .mark-icon {
        opacity: 0.7;
        transform: scale(1);
      }
      .v-slider__track-container {
        height: 6px;
      }
      .v-slider__thumb {
        height: 16px;
        width: 16px;
      }
    }
    .v-slider {
      margin: 0;
    }
  }
  .v-slider__track-container {
    transition: 0.3s all ease;
    box-shadow: 0 0 7px 1px #0000007a;
  }
  .v-slider__thumb-container {
    box-shadow: 0 0 7px 2px #0000007a;
  }
  .v-slider__track-background,
  .v-slider__track-fill {
    border-radius: 5px;
  }
  .mark {
    cursor: pointer;
    position: absolute;
    .breaker {
      position: absolute;
      top: 2px;
      width: 1px;
      height: 5px;
      opacity: 1;
      transition: 0.3s all;
      background-color: white;
    }
    .mark-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transform: scale(0);
      transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in;
      filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.4));
      &:hover {
        opacity: 1;
        z-index: 1;
        & + .tooltip {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .tooltip {
      position: absolute;
      padding: 0.2vw;
      bottom: 22px;
      width: 20vw;
      left: -10vw;
      font-size: 14px;
      overflow: hidden;
      transform: scale(0);
      opacity: 0;
      transition: transform 0.01s ease, opacity 0.2s 0.1s ease;
      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }
    .thumb {
      margin-bottom: 0.2vw;
      border-radius: 3px 3px 0 0;
    }
    .time {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 3px;
      padding: 0px 2px;
      white-space: nowrap;
    }
    .mark-name {
      background-color: white;
      border-radius: 15px;
      padding: 3px 5px;
      white-space: nowrap;
    }
  }
  .buttons {
    position: relative;
    .v-chip {
      overflow: visible;
    }
    .v-btn {
      &:hover {
        .tip {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .tip {
      pointer-events: none;
      position: absolute;
      background-color: rgba(49, 49, 49, 0.9);
      padding: 7px 10px;
      border-radius: 5px;
      bottom: 40px;
      transform: scale(0);
      opacity: 0;
      transition: transform 0.3s 0.2s ease, opacity 0.1s ease-out;
    }
    .kbd {
      border: 1px solid #fff;
      border-radius: 3px;
      padding: 0 5px;
      line-height: 1;
    }
  }
  .volume {
    &:hover {
      .v-slider__track-container {
        height: 5px;
      }
    }
  }
  .volume-slider {
    width: 85px;
  }
  // .hoverable {
  //   &:hover {
  //     .hidden {
  //       width: 50px !important;
  //       border-width: 1px !important;
  //       .v-btn__content {
  //         display: flex;
  //       }
  //     }
  //   }
  // }
  // .hidden {
  //   min-width: 0 !important;
  //   width: 0 !important;
  //   padding: 0 !important;
  //   transition: .3s;
  //   border-width: 0 !important;
  //   .v-btn__content {
  //     display: none;
  //   }
  // }
  .v-slider__thumb:before,
  .v-slider__thumb:after {
    display: none;
  }
}
.video-thumb {
  .name {
    margin-top: 5px;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.theme--dark {
  .marks-wrapper {
    .mark {
      .name,
      .time {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .playlist-wrapper {
    .video-name {
      b,
      .path {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
.status-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.marks-wrapper {
  position: fixed;
  top: 10px;
  left: 10px;
  min-width: 18vw;
  height: calc(100vh - 20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .v-card__title {
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .mark {
    cursor: pointer;
    &-wrapper {
      position: relative;
      &:hover {
        .delete {
          opacity: 1;
        }
      }
    }
    .thumb {
      width: 100%;
      background-color: rgb(38, 50, 61);
    }
    .name {
      position: absolute;
      font-size: 1vw;
      display: flex;
      align-items: center;
      left: 0px;
      top: 0px;
      padding: 0 5px;
      border-radius: 0 0 3px 0;
      background-color: rgba(255, 255, 255, 0.7);
    }
    .time {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: 1;
      padding: 2px;
      border-radius: 3px 0 0 0;
      font-size: 1vw;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  .toggle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .v-btn {
      min-width: 30px;
      padding: 0;
    }
  }
  .delete {
    opacity: 0;
    transition: 0.3s 0.2s;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.5vw;
    border-radius: 0 5px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.playlist-wrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  min-width: 18vw;
  height: calc(100vh - 20px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .v-card__title {
    flex-wrap: nowrap;
    white-space: nowrap;
  }
  .video-item {
    position: relative;
    overflow: hidden;
    height: 10vw;
  }
  .video-name {
    font-size: 1vw;
    line-height: 1.2;
    word-break: keep-all;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    b,
    .path {
      background-color: rgba(255, 255, 255, 0.7);
    }
    b {
      padding-left: 3px;
    }
    .path {
      padding-left: 3px;
      padding-right: 3px;
      border-radius: 0 0 3px 0;
      position: absolute;
    }
  }
  .time {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1vw;
    line-height: 1.2;
    word-break: keep-all;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px 0 0 0;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .play-state {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      background-color: currentColor;
      width: 100%;
      height: 100%;
      border-radius: 50px;
      filter: invert(1);
      z-index: -1;
    }
    .text {
      font-size: 1vw;
    }
  }
  .thumb {
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .toggle {
    width: 100%;
    .v-btn {
      min-width: 30px;
      width: 33.33%;
      padding: 0;
    }
  }
}
@media (max-width: 920px) {
  .player-wrapper {
    &.marks {
      .mark-buttons {
        .mark-prev,
        .mark-next {
          display: none;
        }
      }
    }
    .controls {
      .buttons {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .seek-buttons,
  .mark-buttons,
  .toggle-picture-in-picture {
    display: none;
  }
}
